DS4PACSServiceClients/src/META-INF/wsdl/vmcentral_8080/DS4PACSServices/DS4PReferenceData.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://ws.ds4p.ehtac.va.gov/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.ds4p.ehtac.va.gov/">

<xs:element name="getProblemListThatContainsString" type="tns:getProblemListThatContainsString"/>

<xs:element name="getProblemListThatContainsStringResponse" type="tns:getProblemListThatContainsStringResponse"/>

<xs:element name="snomedproblemlist" type="tns:snomedproblemlist"/>

<xs:complexType name="getProblemListThatContainsString">
<xs:sequence>
<xs:element name="problem_name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProblemListThatContainsStringResponse">
<xs:sequence>
<xs:element name="return" type="tns:snomedproblemlist" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="snomedproblemlist">
<xs:sequence>
<xs:element name="firstInUsage" type="xs:string" minOccurs="0"/>
<xs:element name="idsnomedproblemlist" type="xs:int" minOccurs="0"/>
<xs:element name="isRetiredFromSubset" type="xs:string" minOccurs="0"/>
<xs:element name="lastInSubset" type="xs:string" minOccurs="0"/>
<xs:element name="occurrence" type="xs:string" minOccurs="0"/>
<xs:element name="replacedBySnomedCid" type="xs:string" minOccurs="0"/>
<xs:element name="snomedCid" type="xs:string" minOccurs="0"/>
<xs:element name="snomedConceptStatus" type="xs:string" minOccurs="0"/>
<xs:element name="snomedFsn" type="xs:string" minOccurs="0"/>
<xs:element name="umlsCui" type="xs:string" minOccurs="0"/>
<xs:element name="usageType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>