DS4PACSServiceClients/src/META-INF/wsdl/vmcentral_8080/DS4PACSServices/NwHINDirectAuthorizationServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://ws.ds4p.ehtac.va.gov/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.ds4p.ehtac.va.gov/">

<xs:element name="enforceDirectPolicy" type="tns:enforceDirectPolicy"/>

<xs:element name="enforceDirectPolicyResponse" type="tns:enforceDirectPolicyResponse"/>

<xs:complexType name="enforceDirectPolicy">
<xs:sequence>
<xs:element name="providerId" type="xs:string" minOccurs="0"/>
<xs:element name="recipientId" type="xs:string" minOccurs="0"/>
<xs:element name="organizationName" type="xs:string" minOccurs="0"/>
<xs:element name="organizationId" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="purposeOfUse" type="xs:string" minOccurs="0"/>
<xs:element name="servicePermissions" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sensitivityPrivileges" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="intendedPurposeOfUse" type="xs:string" minOccurs="0"/>
<xs:element name="intendedRecipient" type="xs:string" minOccurs="0"/>
<xs:element name="requiredPermission" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="requiredSensitivityPrivileges" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="requestedResource" type="xs:string" minOccurs="0"/>
<xs:element name="uniquePatientId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enforceDirectPolicyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>