DS4PACSServiceClients/src/META-INF/wsdl/vmcentral_8080/DS4PACSServices/NwHINDirectDocumentProcessing.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ds4p.ehtac.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ds4p.ehtac.va.gov/" name="NwHINDirectDocumentProcessing">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ds4p.ehtac.va.gov/" schemaLocation="http://vmcentral:8080/DS4PACSServices/NwHINDirectDocumentProcessing?xsd=1"/>
</xsd:schema>
</types>
<message name="persistXDMObject">
<part name="parameters" element="tns:persistXDMObject"/>
</message>
<message name="persistXDMObjectResponse">
<part name="parameters" element="tns:persistXDMObjectResponse"/>
</message>
<message name="getXDMObject">
<part name="parameters" element="tns:getXDMObject"/>
</message>
<message name="getXDMObjectResponse">
<part name="parameters" element="tns:getXDMObjectResponse"/>
</message>
<message name="updateXDMObject">
<part name="parameters" element="tns:updateXDMObject"/>
</message>
<message name="updateXDMObjectResponse">
<part name="parameters" element="tns:updateXDMObjectResponse"/>
</message>
<message name="getXDMObjectListByPatientId">
<part name="parameters" element="tns:getXDMObjectListByPatientId"/>
</message>
<message name="getXDMObjectListByPatientIdResponse">
<part name="parameters" element="tns:getXDMObjectListByPatientIdResponse"/>
</message>
<message name="unpackXDMPackage">
<part name="parameters" element="tns:unpackXDMPackage"/>
</message>
<message name="unpackXDMPackageResponse">
<part name="parameters" element="tns:unpackXDMPackageResponse"/>
</message>
<message name="getXDMObjectListByProviderId">
<part name="parameters" element="tns:getXDMObjectListByProviderId"/>
</message>
<message name="getXDMObjectListByProviderIdResponse">
<part name="parameters" element="tns:getXDMObjectListByProviderIdResponse"/>
</message>
<message name="unpackEnforceXDMPackage">
<part name="parameters" element="tns:unpackEnforceXDMPackage"/>
</message>
<message name="unpackEnforceXDMPackageResponse">
<part name="parameters" element="tns:unpackEnforceXDMPackageResponse"/>
</message>
<portType name="NwHINDirectDocumentProcessing">
<operation name="persistXDMObject">
<input wsam:Action="http://ws.ds4p.ehtac.va.gov/NwHINDirectDocumentProcessing/persistXDMObjectRequest" message="tns:persistXDMObject"/>
<output wsam:Action="http://ws.ds4p.ehtac.va.gov/NwHINDirectDocumentProcessing/persistXDMObjectResponse" message="tns:persistXDMObjectResponse"/>
</operation>
<operation name="getXDMObject">
<input wsam:Action="http://ws.ds4p.ehtac.va.gov/NwHINDirectDocumentProcessing/getXDMObjectRequest" message="tns:getXDMObject"/>
<output wsam:Action="http://ws.ds4p.ehtac.va.gov/NwHINDirectDocumentProcessing/getXDMObjectResponse" message="tns:getXDMObjectResponse"/>
</operation>
<operation name="updateXDMObject">
<input wsam:Action="http://ws.ds4p.ehtac.va.gov/NwHINDirectDocumentProcessing/updateXDMObjectRequest" message="tns:updateXDMObject"/>
<output wsam:Action="http://ws.ds4p.ehtac.va.gov/NwHINDirectDocumentProcessing/updateXDMObjectResponse" message="tns:updateXDMObjectResponse"/>
</operation>
<operation name="getXDMObjectListByPatientId">
<input wsam:Action="http://ws.ds4p.ehtac.va.gov/NwHINDirectDocumentProcessing/getXDMObjectListByPatientIdRequest" message="tns:getXDMObjectListByPatientId"/>
<output wsam:Action="http://ws.ds4p.ehtac.va.gov/NwHINDirectDocumentProcessing/getXDMObjectListByPatientIdResponse" message="tns:getXDMObjectListByPatientIdResponse"/>
</operation>
<operation name="unpackXDMPackage">
<input wsam:Action="http://ws.ds4p.ehtac.va.gov/NwHINDirectDocumentProcessing/unpackXDMPackageRequest" message="tns:unpackXDMPackage"/>
<output wsam:Action="http://ws.ds4p.ehtac.va.gov/NwHINDirectDocumentProcessing/unpackXDMPackageResponse" message="tns:unpackXDMPackageResponse"/>
</operation>
<operation name="getXDMObjectListByProviderId">
<input wsam:Action="http://ws.ds4p.ehtac.va.gov/NwHINDirectDocumentProcessing/getXDMObjectListByProviderIdRequest" message="tns:getXDMObjectListByProviderId"/>
<output wsam:Action="http://ws.ds4p.ehtac.va.gov/NwHINDirectDocumentProcessing/getXDMObjectListByProviderIdResponse" message="tns:getXDMObjectListByProviderIdResponse"/>
</operation>
<operation name="unpackEnforceXDMPackage">
<input wsam:Action="http://ws.ds4p.ehtac.va.gov/NwHINDirectDocumentProcessing/unpackEnforceXDMPackageRequest" message="tns:unpackEnforceXDMPackage"/>
<output wsam:Action="http://ws.ds4p.ehtac.va.gov/NwHINDirectDocumentProcessing/unpackEnforceXDMPackageResponse" message="tns:unpackEnforceXDMPackageResponse"/>
</operation>
</portType>
<binding name="NwHINDirectDocumentProcessingPortBinding" type="tns:NwHINDirectDocumentProcessing">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="persistXDMObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getXDMObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateXDMObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getXDMObjectListByPatientId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="unpackXDMPackage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getXDMObjectListByProviderId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="unpackEnforceXDMPackage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NwHINDirectDocumentProcessing">
<port name="NwHINDirectDocumentProcessingPort" binding="tns:NwHINDirectDocumentProcessingPortBinding">
<soap:address location="http://vmcentral:8080/DS4PACSServices/NwHINDirectDocumentProcessing"/>
</port>
</service>
</definitions>